*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.uppercontainer{
    width: 50%;
    height: 10%;
    margin: 50px auto;
    position: relative;
    
}
.uppercontainer1{
    width: 35%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}
#Tasks{
    font-weight: bold;
    font-size: 2.5rem;

}
#Lists{
    font-size: 2.5rem;
    margin-left: 10px;
    opacity: 0.5;
}
.uppercontainer2{
    width: 30%;
    height: 100%;
    padding-top: 20px;
    position:absolute;
    top: 0px;
    right: 0px;
    

}
#addlist{
    position: absolute;
    width: 80%;
    height: 100%;
    font-size: 30px;
    top: 0;
    right: 0;
    opacity: 0.5;
    padding-top: 25px;
}
.card1{
    margin-top: 10px;
    border: 1.5px solid red;
    height: 45vh;
    width: 30%;
    position: relative;
    float: left;
    border-radius: 8px;
    box-shadow: 5px 5px 10px gray ;
    margin: auto;
    
}
.div1{
    position: absolute;
    top: 15px;
    right: 0px;
    font-size: 25px;
    width: 85%;
    text-align: left;
    height: 15%;
    color:red;
    border-bottom:1px solid black ;
}
.div2{
    width: 90%;
    height: 10%;
    font-size: 20px;
    
    color: darkred;
    text-align: right;
    position: absolute;
    top: 35%;
    font-weight: bold;
    text-decoration: line-through;
}
.div3{
    width: 90%;
    height: 10%;
    position:absolute;
    top: 55%;
    text-align: left;
    font-size: 20px;
}
#check{
    width: 25px;
    height: 20px;
    margin-left: 10px;
}
.card2{
    margin-top: 10px;
    border: 1.5px solid red;
    height: 45vh;
    width: 30%;
    position: relative;
    float: right;
    border-radius: 8px;
    
    box-shadow: 5px 5px 10px gray ;
    margin:auto ;
}
.card3{
    margin-top: 10px;
    border: 1.5px solid red;
    height: 45vh;
    width: 30%;
    position: relative;
    
    border-radius: 8px;
    
    box-shadow: 5px 5px 10px gray ;
    margin:auto ;
}

@media(max-width:600px){

    .uppercontainer{
        width: 80%;

    }
    #addlist{
        display: none;
    }
    #circle{
      position: relative;
      right: -50px;
    }
    .uppercontainer1{
        width: 80%;
    }
    .div2{
        display: none;
    }
    .div3{
        display: none;
    }
    .div1{
        border: none;
        color: grey;
    }
    .card1{
        width: 90%;
        height: 23vw;
        margin-top: 30px;
    }
    .card2{
        position: relative;
        right: 30px;
        top: 0px;
        width: 90%;
        height: 23vw;
        margin-top: 30px;
    }
    .card3{
        position: relative;
        right: 15px;
        top: 63vw;
        width: 90%;
        height: 23vw;
        margin-top: 30px;
    }


}
